# Python
__pycache__/
*.pyc

# Large MD trajectories and outputs
*.dcd
*.xtc
*.trr
*.nc
*.netcdf
*.chk
*.out
*.log

# Large repeated restart snapshots
*_snapshot*
*.rst7.*
*.ncrst.*

# Editor/system files
.DS_Store
.vscode/
.idea/
